.blur-background {
    filter: blur(5px); /* Adjust blur intensity as needed */
  }
  
  .signin-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px
  }

 